@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

section {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header i {
    font-size: 30px;
}

header .option {
    padding: 5px 10px;
    border: 2px solid #000;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000013;
}

.option span{
    font-size: 18px;
}

header img {
    width: 40px;
}

.container {
    width: 40%;
    height: auto;
    padding: 10px;
    margin-top: 100px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container qr {
    border-radius: 20px;
}

qr-code {
    width: 80%;
    height: auto;
    margin-top: 5%;
    background: #00f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg{
    width: 50px;
}

.socialBtn {
    width: 40%;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Btn {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.5s;
}

.Btn:hover{
    background: #00000013;
}

.Btn i{
    font-size: 25px;
}

.Btn p{
    font-size: 12px;
    width: auto;
    text-align: center;
}

.color{
    module-color:#1c7d43;
    position-ring-color: #13532d ;
    position-center-color: #70c559;
}
